aiohttp==3.6.3
akinator.py==5.0.0
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
certifi==2021.10.8
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.9
humanfriendly==10.0
idna==2.10
lavalink==3.1.4
multidict==4.7.6
py-cord==2.0.0a4671+g51dd856e
pycparser==2.20
pytube==11.0.2
qrcode==7.3.1
requests==2.26.0
six==1.15.0
soupsieve==2.3.1
speedtest-cli==2.1.3
typing-extensions==3.10.0.2
urllib3==1.26.7
wikipedia==1.4.0
yarl==1.5.1