aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
cffi==1.14.6
chardet==3.0.4
idna==2.10
multidict==5.1.0
py-cord @ git+https://github.com/Pycord-Development/pycord@8948a52454b3c57589cd69ec46b31781594a25e9
py-cord==1.7.3 #if you don't want to use slash commands and buttons(view) else ignore and remove
pycparser==2.20
six==1.15.0
typing-extensions==3.10.0.2
yarl==1.6.3
qrcode
pillow
pytube
akinator.py
speedtest-cli